---
import Header from "./Header.astro";
import { Image } from "astro:assets";
---

<section
  class="bg-[url('/images/desktop/image-header.jpg')] bg-cover bg-center min-h-[800px] text-white"
>
  <Header />

  <h1 class="text-center uppercase text-7xl fraunces-700 mt-11">
    we are creatives
  </h1>

  <div class="arrow flex justify-center mt-[90px]">
    <Image
      src="/images/icon-arrow-down.svg"
      alt="arrow"
      width="50"
      height="50"
    />
  </div>
</section>
